__pycache__/
*.py[cod]
*$py.class
*.egg
*.egg-info
*.so
*.swp

.dir-locals.el
.cache/
.idea
.mypy_cache/
TAGS
.tags
.tox
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.coverage
.DS_Store
distribute-*

docs/_build/
docs/_themes/
docs/locale/
tests/.coverage
tests/build/